body {
background-color: #585b70;
margin: 0px;
}

header {
display: flex;
align-items: center;
justify-content: center;
border-bottom: 0px solid #000000;
}

.the_header_img {
width: 61vw;
padding: 3vh 5vh 3vh 5vh;
}

CakePop-img {
margin: 0px;
min-width: 100vw;
position: relative;
left: 0px;
right: 0px;
}

main {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
gap: 2vh;
margin: 0px;
padding-bottom: 0px;
background-color:  #FAE6C5;
backdrop-filter: blur(10px);
}

.CakePopDiv {
width: 100vw;
height: 50vh;
background-color: #ffffff;
border-radius: 0px;
box-shadow: 0px 3px 5px rgba(0,0,0,0.05);
border: 10px 0px 0px 0px solid #7E503D;
position: relative;
}

.CakePopDivTextHeader {
margin: 10px 10px 10px 10px;
font-size: 1.2em;
position: relative;
color: #000000;
}

.CakePopDivTextMain {
margin: 10px 10px 0px 10px;
font-size: 1.3em;
position: relative;
color:#000000;
}

footer {
display: flex;
justify-content: center;
background-color: #7E503D;
margin:0px;
color:  #FAE6C5;
}

.CakePics {
width: 100vw;
height: 100%;
object-fit: cover;
position: absolute;
top: 0;
left: 0;
z-index: 1;
}


.cakePopTextBlurDiv {
background-color: rgba(255,255,255,0.3);
position: absolute;
backdrop-filter: blur(10px);
z-index: 2;
border: 1px solid rgba(255,255,255,0.3);
bottom: 0;
left: 0;
margin: 20px;
box-shadow: -1px 1px 3px rgba(0,0,0,0.1);
border-radius: 100px;
}
